@font-face {
  font-family: 'muliregular';
  src: url('./fonts/muli-webfont.woff2') format('woff2'),
       url('./fonts/muli-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'mulibold';
  src: url('./fonts/muli-bold-webfont.woff2') format('woff2'),
       url('./fonts/muli-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'mulisemibold';
  src: url('./fonts/muli-semibold-webfont.woff2') format('woff2'),
       url('./fonts/muli-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
*{
  font-family: 'Raleway', sans-serif;
}
:root {
  --black: #000;
  --white: #ffffff;
  --brown: #d29b48;
  --grey:  #474848;
}
ul{
  padding: 0;
  margin:0;
}
li{list-style: none;}
a{
display: inline-block;
cursor: pointer;
}
a:hover{
  text-decoration: none !important;
}
.banner-dropdown li a.rotate.open i {
  transform: rotate(90deg);
}
a.main-nav.open i {
  transform: rotate(90deg);
}
.navbar{padding: 0;}
img{max-width: 100%;}
a:hover{text-decoration: none;}
header#header_section {box-shadow: 0 2px 24px 6px rgba(0, 0, 0, 0.1);}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
a.menu-bar {
  display: inline-block;
  font-size: 0;
  width: 30px;
}
.navigation_bar ul{
display: flex;
align-items: center;
}
a.menu-bar span.bars {
  display: inline-block;
  background-color: #ff6600;
  width: 80%;
  line-height: 1;
  border-radius: 0;
  height: 3px;
  margin: 0 0 3px;
}
span.bars:last-child{margin:0;}
.navbar-toggler.collapsed .bar1 {transform: rotate(0);}
.navbar-toggler .bar1 {
  transform: rotate(45deg);
  transform-origin: 9% 10%;
  transition: .5s;
}
.navbar-toggler.collapsed .bar2 {opacity: 1;}
.navbar-toggler .bar2 {opacity: 0; transition: .5s;}
.navbar-toggler.collapsed .bar3 {transform: rotate(0);}
.navbar-toggler .bar3 {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  transition: .5s;
}
.navigation_bar ul li {padding: 0 17px;}
.navigation_bar ul li a,.navigation_bar ul span {
  font-size: 10pt;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
}

.lets_btn a {
    background-color: #d29b49;
    padding: 10px 16px;
    border-radius: 25px;
    color: #fff !important;
}

.navigation_bar ul li a:hover{color: #ff6600;}

/* --banner-section--- */
.banner_section{
  background-image: url('./images/images/banner-bg.jpg');
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 730px;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.banner_content{
max-width: 810px;
margin: 0 auto;  
}
.banner_content h2 {
  font-size: 30pt;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 16px;
}
.banner_btns a{
  font-size: 14pt;
  font-family: 'muliregular';
  padding: 16px  0;
  width: 255px;
  text-transform: uppercase;
  margin: 0 8px;
}
.banner_btns a:first-child {
  background: var(--black);
  color: var(--white);
}
.banner_btns a:last-child{
  background: var(--white);
  color: var(--black);
}
.banner_content p{
  color: var(--white);
  font-size: 14pt;
}
.banner_btns {
  padding-top: 34px;
}
/* ----services-section---- */
.services_title{
text-transform: uppercase;
color: var(--brown);
font-size: 14pt;
padding-top: 15px;
padding-bottom: 75px;
text-align: center;
font-family: 'muliregular';
}
.services_section{
  position: relative;
  padding-bottom: 70px;
}
.services_section .services_rectangle {
  position: absolute;
  right: 0;
  top:-170px;
}
.seriveces_items h5 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.seriveces_items p{
  font-size: 11pt;
  color: var(--grey);
  line-height: 2;
  font-weight: 500;
}
.seriveces_items > div {
  min-height: 125px;
}
.services_item {
  padding: 12px 24px;
  font-weight: 600;
  border: 1px solid var(--brown);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('./images/images/services-douts_21.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.services_item svg{
  background-color: var(--brown);
  color: var(--white);
  border-radius: 50%;
  font-size: 10pt;
}
.services_list_content a{
  font-weight: 600;
  color: var(--brown);
  margin-top: 25px;
}
section.services_list_section {
  padding-bottom: 70px;
}
/* ---awesome-facts----- */
.awesome_facts{
  background-color: var(--black);
  padding: 70px 0;
}
 .facts_warapper{
   background-image: url('./images/images/lining02_03.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
} 
.facts_warapper h5 {
  font-size: 40pt;
  color: var(--white);
  font-family: 'muliregular';
}
.awesome_facts p{
    color: #6b6a6a;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 10pt;
    font-family: 'muliregular';
  }
  /* -----about_me_section---- */
  .about_me_section{
    background-image: url('./images/images/abou_me_bg_03.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
  }
.about-me-content {
    max-width: 410px;
}
.about-me-content h2 {
  font-size: 60pt;
  font-weight: bold;
  margin-top: 25px;
  line-height: 0.8;
  margin-bottom: 0;
}
.about-me-content .naman_modi{
  font-size: 25pt;
  font-weight: bold;
  margin-bottom: 20px;
    display: inline-block;
}
.about-me-content h5 {
  font-size: 16pt;
  font-weight: bold;
}
.owner-image {
  margin-left: 16px;
}
.about-me-content p {
  font-size: 12pt;
  color: #474848;
  font-family: 'muliregular';
  line-height: 1.7;
}
.about-me-content .resume_btn{
  margin-top: 40px;
  text-align: center;
}
.about-me-content .resume_btn a{
  background: var(--black);
  padding: 12px 24px;
  color: var(--white);
  text-transform: uppercase;
}
.progress_range p {
  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 12px;
  color:#474848;
}
.progress_range {
  margin: 10px;
}
.progress_range .progress{
  height: 1.3;
  border-radius: 0;
}
.progress_range .progress-bar{
  background-color: var(--brown);
}
ul.true_investor_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.true_investor_wrapper li {
  box-shadow: 0 1px 15px rgba(0,0,0,0.10), 0 1px 15px rgba(0,0,0,0.10);
}
h4.trust_me_title {
  font-size: 20pt;
  font-weight: bold;
}
/* -----testimonial---section------- */
section.testimonial_section {
  padding: 70px 0;
}
.testimonial_wrap{
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: var(--white);
}

.testimonial_slider .slick-slider .slick-slide {
  padding: 0 15px;
}
.testimonial_wrap p{
   font-family: 'muliregular';
   color: #474848;
}
/* .testimonial_slider ul.slick-dots{
  bottom:-50px
} */
.testimonial_slider .slick-dots li button:before{
font-size: 10px;
}
.testimonial_slider .slick-dots li{
  margin: 0!important;
}
.slick-dots li.slick-active button:before {
  opacity: 100% !important;
  color: #299ae0 !important;
}
.testi_content {
  display: flex;
  align-items: center;
}
.testi_name p {
  margin-bottom: 0;
}
.testi_img {
  margin-right: 15px;
}
/* ---footer---section---- */
.footer_section{
  padding-top: 70px;
  padding-bottom: 40px;
  background-image: url('./images/images/footer_bg_10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.start_project{
  max-width: 530px;
  margin: 0 auto;
  margin-bottom: 100px;

}
.start_project h3 {
  font-size: 26pt;
  font-weight: bold;
  margin-bottom: 20px;
}
.start_project p{
  font-family: 'muliregular'; 
  color: #6b6a6a;
  line-height: 1.7s;
}
.start_project a {
  display: inline-block;
  background: var(--brown);
  padding: 12px 24px;
  text-transform: uppercase;
  margin-top: 40px;
  color: var(--black);
}
.footer_right_content h5 {
  font-size: 13pt;
  color: var(--brown);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer_right_content p{
  color: var(--white);
  font-size: 10pt;
  font-weight: 600;
  margin-bottom: 20px;
}
.input_subscribe {
  position: relative;
}
.input_subscribe input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
}
.input_subscribe input[type="text"]::placeholder{
 font-size: 10pt;
}
.input_subscribe a {
  position: absolute;
  right: 0;
  background-color: var(--brown);
  padding: 12px 14px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 600;
  border-radius: 3px;
}
.social_icons_wrapper {
  margin-top: 20px;
}
.social_icons_wrapper ul{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}
.footer_logo_content {
  max-width: 60%;
}
.social_icons_wrapper ul li svg{
  font-size: 18pt;
  color: var(--white);
}
.footer_menu ul{
  display: flex;
  align-items: center;
}
.footer_menu ul li{
  color: var(--brown);
  font-size: 9pt;
  padding: 0 10px;
}
.footer_menu ul li a{
  font-size: 9pt;
  color: var(--white);
}
.paypal_image {
  text-align: right;
}











@media(max-width:991px){
.header_wrapper {
  position: relative;
}

#collapsibleNavbar {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  background-color:#fff;
  box-shadow: 0 12px 18px 0
  rgba(0,0,0,0.1);
}
.navigation_bar ul{
display: block;
}
}
@media(max-width:767px){

}
@media(max-width:575px){
  
}
@media(max-width:480px){
  
}

